.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  background: #ffdfa7;
  border: 5px solid #c90000;
}

.fighter-preview___right {
  align-items: flex-end;
  text-align: right;
}

.fighter-preview___left {
  align-items: flex-start;
  text-align: left;
}

.left-fighter-preview_img{
  max-height: 200px;
}

.right-fighter-preview_img{
  max-height: 200px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.fighter-preview_text{
  font-size: 20px;
  width: 100%;
  margin: 0 10px 0 10px;
  padding: 0;
}